*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pic1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo{
    margin-top: 20px;
    margin-left: 90px;
    
}
.innerdiv{
    display: flex;
    color: chocolate;
}
.nemu{
    width: 400px;
    float: left;
    height: 190px;
}
.maindiv{
    display: flex;
}
ul{
    margin-top: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 5px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: chocolate;
}
.search{
    width: 300px;
    float: left;
    margin-left: 370px;
    margin-top: 20px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pic1.jpeg);

    border-top: solid chocolate;
    margin-top: 5px;
    color: aliceblue;

}
.btn{
    width: 100px;
    height: 40px;
    background: rgb(210, 105, 30);
    border: solid chocolate;
    margin-top: 5px;
    color: aliceblue;
    font-size: 15px;
    margin-left: -4px;
}
.btn:focus{
    outline: none;
}
.srch{
    outline: none;
}
.content{
 width: 1400px;
 height: auto;
 margin: auto;
color: aliceblue;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 100px;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #f04d12;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: 3s;
}
.cn:hover{
    background-color:azure ;
}
.form{
    width: 250px;
    height: 390px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 200px;
    left: 1120px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 230px;
    font-family: sans-serif;
    text-align: center;
    color: hsl(16, 88%, 51%);
    font-size: 22px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-radius: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #f04d12;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    transition: 0.4s ease;
}
.btnn:hover{
    background: white;
    color: #f04d12;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #f04d12;
}
.icon a{
    text-decoration: none;
    color: azure;
}
.icon ion-icon{
    color: azure;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 10px;
}
.icon ion-icon:hover{
    color: #f04d12;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}